{#
SPDX-FileCopyrightText: 2023, 2024 Horus View and Explore B.V.

SPDX-License-Identifier: MIT
#}

{% extends "mercaido_server:templates/layout.jinja2" %} {% block body %}
<div class="row" style="gap: 0.75rem">
  <div class="col s12">
    <ul class="collapsible">
      <li {% if not configured -%} class="active" {%- endif %}>
        <div class="collapsible-header">
          <i class="material-icons">settings</i>Mercaido Settings
        </div>
        <div class="collapsible-body">
          <div class="row">
            {% for card in base_cards %}
            <div class="col s12 m6">
              <div class="card medium light-blue lighten-1">
                <div class="card-image">
                  {{ card.svg() | safe }}
                  <span class="card-title black-text"
                    ><strong>{{card.title()}}</strong></span
                  >
                </div>
                <div class="card-content">
                  <p>{{card.description()}}</p>
                </div>
                <div class="card-action">
                  <div class="right">
                    <a class="white-text" href="{{ card.endpoint() }}"
                      ><i class="material-icons">settings</i></a
                    >
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="row" style="gap: 0.75em; margin-top: 2rem">
  {% for card in service_cards %}
  <div class="col s12 m3">
    <div class="card small light-blue lighten-1">
      <div class="card-image flex-card-image white">
        {{ card.svg() | safe }}
        <span class="card-title black-text">{{card.title()}}</span>
      </div>
      <div class="card-content">
        <p>{{card.description()}}</p>
      </div>
      <div class="card-action">
        <div class="right">
          <a class="white-text" role="button" href="{{ card.endpoint() }}">
            <i class="material-icons">add</i>
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock body %}
