{#
SPDX-FileCopyrightText: 2023, 2024 Horus View and Explore B.V.

SPDX-License-Identifier: MIT
#}

{% extends "mercaido_server:templates/layout.jinja2" %} {% block body %}
{% if not configured %}
  <div class="row">
    <div class="col s12">
      <div class="card-panel">
        <p>You have unconfigured servers. Check out the <a href="{{ "settings" | route_path }}">Settings</a> to set up any servers you might need.</p>
        <ul>
          {% if not media_servers %}
            <li>No Media Server configured</li>
          {% endif %}
          {% if not recording_servers %}
            <li>No Recording Server configured</li>
          {% endif %}
          {% if not feature_servers %}
            <li>No Feature Server configured</li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  {% endif %}
<div class="row" style="gap: 0.75em; margin-top: 2rem">
  {% if service_cards | length == 0 %}
    <div class="col s12">
      <p>There are no Mercaido services available</p>
    </div>
  {% else %}
    {% for card in service_cards %}
      <div class="col s12 m3">
        <div class="card small light-blue lighten-1">
          <div class="card-image flex-card-image white">
            {{ card.svg() | safe }}
            <span class="card-title black-text">{{card.title()}}</span>
          </div>
          <div class="card-content">
            <p>{{card.description()}}</p>
          </div>
          <div class="card-action">
            <div class="right">
              <a class="white-text" role="button" href="{{ card.endpoint() }}">
                <i class="material-icons">add</i>
              </a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>
{% endblock body %}
