{#
SPDX-FileCopyrightText: 2023, 2024 Horus View and Explore B.V.

SPDX-License-Identifier: MIT
#}

{% extends "mercaido_server:templates/layout.jinja2" %}
{% from "mercaido_server:templates/macros.jinja2" import service_input with context %}

{% block body %}
  <div class="row">
    <div class="col s12">
      <h4>Create {{ service.name }} job</h4>
    </div>
  </div>

  <div class="row" style="margin-bottom: 2rem;">
    <div class="col s12">
      <a class="btn-small btn-flat" href="{{ "home" | route_path }}">
        <i class="material-icons left">chevron_left</i>
        Back
      </a>
    </div>
  </div>
  
  <div class="row">
    <form method="post" class="col s12">
      <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}">

      {% for attribute in service.attributes %}
        {{ service_input(attribute) }}
      {% endfor %}

      <div class="row">
        <div class="col s12">
          <button class="btn waves-effect waves-light blue darken-4" type="submit">
            <i class="material-icons">save</i>
          </button>
        </div>
      </div>
    </form>
  </div>
{% endblock body %}
